/* ************************************** */
/* Higher  1488px 
/* ************************************** */

@media (min-width: 100em) {
  .hero-img {
    /* width: 115%; */
  }

  .hero-description {
    font-size: 2.4rem;
  }

  .heading-primary {
    font-size: 6.6rem;
  }

  /* .hero {
    padding: 9.6rem 0rem;
  } */
}

/* ************************************** */
/* BELOW 1200px (Landscape Tablets */
/* ************************************** */

@media (max-width: 75em) {
  html {
    /* 9px / 16 = 0.5625 */
    font-size: 56.25%;
  }

  .hero {
    /* padding-top: 6rem; */
  }
}

@media (max-width: 65em) {
  .hero {
    /* padding: 5rem; */
    gap: 1rem;
  }
  html {
    font-size: 50%;
  }
}

/* ************************************** */
/* BELOW 944px (Tablets */
/* ************************************** */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 7.4rem;
    gap: 0rem;
  }
  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heading-primary {
    margin-top: 10rem;
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
    padding: 0 9rem;
  }

  .hero-description {
    margin-bottom: 3.2rem;
  }

  .btn-oyna {
    font-size: 3.4rem;
  }

  .container {
    padding: 0 4.8rem;
  }

  .btn-more {
    font-size: 3.4rem;
  }
  .hero-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-img {
    width: 70%;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);

    height: 100vh;
    transition: all 0.5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;

    /* HIDE NAVIGATION */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keybord */
    pointer-events: none;

    /* 3) Hide it from screen readers */

    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .footer-list {
    flex-direction: row;
  }
  .footer-link:link,
  .footer-link:visited {
    font-size: 2.4rem;
  }
}

/* ************************************** */
/* BELOW 704px (Smaller Tablets */
/* ************************************** */

@media (max-width: 44em) {
  .heading-primary {
    font-size: 5.6rem;
    margin-top: 7.4rem;
    padding: 0;
  }
  .hero-description {
    font-size: 2.7rem;
  }

  .header {
    padding: 0 4rem 0 3.2rem;
  }
  /* .hero-img {
    width: 100%;
  } */

  .heading-secondary {
    text-align: center;
    font-size: 3.6rem;
  }

  .module-text {
    font-size: 3rem;
  }

  .feature {
    padding: 0;
  }

  .features-container {
    column-gap: 3.6rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding: 8rem 15rem 0rem 15rem;
    gap: 4.4rem;
  }
}

/* ************************************** */
/* BELOW 544px (Phones */
/* ************************************** */

@media (max-width: 34em) {
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 2.4rem;
  }

  .subheading {
    font-size: 2.4rem;
  }

  .nav-btn-oyna {
    font-size: 4.8rem;
  }

  .hero-description {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
  }
  .hero-img {
    width: 70%;
  }
  .heading-primary {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 2.4rem;
    margin-top: 1rem;
  }

  .hero {
    /* padding-top: 5.4rem; */
    gap: 1rem;
    transform: translateY(10%);
    padding: 0 3rem;
  }

  .btn-oyna {
    font-size: 3rem;
    padding: 0.8rem 3.2rem;
  }

  .btn-more {
    display: flex;
    align-items: center;
  }

  .buttons {
    gap: 0.8rem;
  }

  .background-img {
    background-position-x: 40%;
  }

  .modules-grid {
    row-gap: 6rem;
  }
  .module-img {
    width: 50%;
  }
  .module-img-box::before {
    width: 70%;
    padding-bottom: 70%;
  }
  .module-img-box::after {
    width: 55%;
    padding-bottom: 55%;
  }

  .features-container {
    padding: 2.4rem 0rem 9.6rem 0rem;
    margin-left: 6.4rem;
    column-gap: 3.4rem;
    grid-template-columns: 1fr;
  }

  .footer {
    padding: 8rem 15rem 0rem 11.2rem;
  }
}

/* ************************************** */
/* BELOW 400px (Phones */
/* ************************************** */

@media (max-width: 25em) {
  .heading-primary {
    font-size: 4.4rem;
  }

  .hero-description {
    font-size: 2.2rem;
    line-height: 1.4;
  }

  .btn-oyna {
    font-size: 2.4rem;
  }

  .btn-more {
    font-size: 3rem;
  }

  .features-container {
    grid-template-columns: 1fr 1fr;
    margin-left: 4.8rem;
    font-size: 2rem;
    margin-right: 2rem;
  }

  .footer {
    padding: 8rem 15rem 0rem 2rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.8rem;
  }

  .copyright {
    padding: 3rem 0 8rem 7.6rem;
  }
}

/* ************************************** */
/* BELOW 379px (Phones */
/* ************************************** */

@media (max-width: 25em) {
  .hero {
    padding: 0 3.4rem;
  }
  .btn-oyna {
    font-size: 3rem;
    padding: 0.8rem 2.4rem;
    white-space: nowrap;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .hero-description {
    font-size: 2.4rem;
  }
  .btn-more {
    padding: 0.4rem 2.2rem;
  }

  .container {
    padding: 0 2.4rem;
  }

  .module-text {
    font-size: 3rem;
  }

  .module-img {
    width: 60%;
  }
  .module-img-box::before {
    width: 80%;
    padding-bottom: 80%;
  }
  .module-img-box::after {
    width: 65%;
    padding-bottom: 65%;
  }
  .footer {
    flex-direction: column;
    padding: 10rem 0;
  }
  .copyright {
    text-align: center;
    padding: 3rem 0 8rem 3.3rem;
  }
}
